.row{
	weight: 100%;

	eight: 50%;


}




.footer{
	
		background-color: black;
        	color: white;
        
	text-align: center;

}



.header{
	background-color: green;	
                color: white;

}